### PRODUCTION BUILD VARIABLES ###

FRONTEND_PROD_SITE_ROOT=https://example.com

# Optional
# If hosting content under example.com/foo/, set FRONTEND_BASE_PATH=foo
FRONTEND_PROD_BASE_PATH=


### DEVELOPMENT VARIABLES ###

FRONTEND_DEVSERVER_PORT=5000
